<div class="container-fluid page-container">
    <div class="hero-page page-intro">
        <div class="highlight-text">
            <h1>Blinky Bill <span style="color:#c885b1;">Press</span></h1>
        </div>
    </div>
    <div class="page-contents">
        <div class="container-fluid list-container">
            <h2>What the world thinks of Blinky bill</h2>
            <div class="links-list container-fluid">
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
                <a href="#" class="press-link">
                    <div class="link-text">
                        KENYAN ELECTRO-FUNK ROCKER BILL "BLINKY" SELLANGA ON THE AFRICAN MUSIC YOU NEED TO HEAR
                    </div>
                    <div class="link-site">papermag.com</div>
                    <div class="hover-line"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-animation></app-animation>
