<div class="container-fluid page-container">
    <div class="hero-page page-intro">
        <div class="highlight-text">
            <h1>Blinky Bill <span style="color:#c885b1;">Press</span></h1>
        </div>
    </div>
    <div class="page-contents">
        <div class="container-fluid list-container">
            <h2>What the world thinks of Blinky bill</h2>
            <div class="links-list container-fluid" *ngIf="pressService.links">
                <a *ngFor="let link of pressService.links" [href]="link.url" class="press-link" target="_blank">
                    <div class="link-text">
                        {{ link.title }}
                    </div>
                    <div class="link-site">{{ extractDomain(link.url) }}</div>
                    <div class="hover-line"></div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-animation [page]="'press'"></app-animation>
