<div class="container-fluid page-container">
    <div class="hero-page page-intro">
        <div class="highlight-text">
            <h1>Blinky Bill <span>Radio</span></h1>
        </div>
    </div>
    <div class="page-contents">
        <div class="container-fluid list-container">
            <h2>blinky x rbma radio</h2>
            <div class="container-fluid list-view" >
                <a *ngFor="let episode of radioService.episodes" routerLink="/radio/{{episode.id}}" class="item">
                    <div class="item-image">
                        <img [src]="episode.image_name" />
                    </div>
                    <h3>{{ radioService.title }}</h3>
                    <div class="tracks-count">{{ episode.release_month }}</div>
                    <div class="release-date">({{ episode.release_year }})</div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-animation [page]="'radio'"></app-animation>
