<div class="container-fluid article-page">
    <div class="container-fluid news-article" *ngIf="newsService.article.id">
        <h1>{{ newsService.article.title }}</h1>
        <div class="release-date">{{ newsService.article.published_at|date }}</div>
        <div class="share-buttons">
            <a href="#" target="_blank"><i class="icon-facebook"></i></a>
            <a href="#" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" target="_blank"><i class="icon-google-plus"></i></a>
        </div>
        <div class="article-image">
            <img [src]="newsService.article.image_name" alt=""  />
        </div>
        <div class="article-contents" [innerHtml]="newsService.article.content">

        </div>
        <div class="share-buttons bottom-shares">
            <div class="share-label">Share</div>
            <a href="#" target="_blank"><i class="icon-facebook"></i></a>
            <a href="#" target="_blank"><i class="icon-twitter"></i></a>
            <a href="#" target="_blank"><i class="icon-google-plus"></i></a>
        </div>
        <div class="related-articles">
            <h4>Explore more below</h4>
            <div class="container-fluid news-list">
                <a *ngFor="let item of newsService.articles|slice:0:6;" routerLink="/news/{{ item.id }}" class="news-item">
                    <img [src]="item.image_name"  />
                    <h3>{{ item.title }}</h3>
                </a>
            </div>
        </div>
        <div class="container-fluid news-more">
            <a class="more-articles" routerLink="/news">Load more</a>
        </div>
    </div>
</div>
<app-animation [page]="'news'"></app-animation>
