<nav class="active-{{menuService.menuExpanded}}">
    <ul>
        <li *ngFor="let link of links">
            <a [routerLink]="link.link" [routerLinkActiveOptions]="{exact:true}"
            [routerLinkActive]="'active ' + link.key"
            ><i class="{{link.key}}"></i><span>{{ link.text }}</span></a>

            <div class="hover-animation {{ link.key }}" >
                <div class="wipe-0"></div>
                <div class="wipe-1"></div>
            </div>
        </li>
    </ul>
</nav>
