@import "src/scss/index";

nav{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    background: #000;
    color:#fff;
    text-transform: uppercase;
    width: 80%;
    max-width: 380px;

    @media(min-width: 990px) {
        max-width: 450px;
    }

    @media(min-width: 1230px) {
        max-width: 40%;
    }

    ul{
        padding: 0 0 0 0;
        list-style: none;
        margin: 100px 0 25px;

        @media(min-width:1024px) {
            margin: 150px 0 25px;
        }

        @media(min-width:1600px) {
            margin: 170px 0 25px;
        }

        li{
            a{
                position: relative;
                display: block;
                text-decoration: none;
                letter-spacing: 3px;
                font-family: wask, sans-serif;
                font-size: 18px;
                padding: 20px 20px 20px 70px;
                color: #fff;
                @include animate(.3s);

                @media(min-width: 1230px) {
                    padding-left:100px;
                }

                @media(min-width: 1600px) {
                    padding-left:150px;
                }

                &.active {
                    &.music{
                        background: #a11d77;
                    }
                    &.videos{
                        background: #313b72;
                    }
                    &.radio{
                        background: #f9f200;
                    }
                    &.news{
                        background: #9ed2ce;
                    }
                    &.gigs{
                        background: #00aaec;
                    }
                    &.bio{
                        background: #00a48d;
                    }
                    &.press{
                        background: #c885b1;
                    }
                    &.photos{
                        background: #e1287a;
                    }
                    &.hello{
                        background: #3f147b;
                    }
                }

                span{
                    display: block;
                    position: relative;
                }

                i{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 100%;
                    left:0;
                    top:0;
                    background: white;
                    @include animate(.5s);
                    overflow: hidden;
                    margin: 0;

                    &.music{
                        background: #a11d77;
                    }
                    &.videos{
                        background: #313b72;
                    }
                    &.radio{
                        background: #f9f200;
                    }
                    &.news{
                        background: #9ed2ce;
                    }
                    &.gigs{
                        background: #00aaec;
                    }
                    &.bio{
                        background: #00a48d;
                    }
                    &.press{
                        background: #c885b1;
                    }
                    &.photos{
                        background: #e1287a;
                    }
                    &.hello{
                        background: #3f147b;
                    }
                }

                &:hover{
                    padding-left:80px;
                    i{
                        width: 100%;
                    }
                }
            }
        }
    }
}
