@keyframes hoverLeft {
    0% {
        width: 55%;
    }
    100% {
        width: 0;
    }
}
@keyframes imageLeft {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
}
@keyframes menuOpac {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

nav {
    ul {
        li {
            &:hover {
                .hover-animation{
                    position: fixed;
                    right:0;
                    top:0;
                    width: 55%;
                    height: 100%;
                    background: #fff;

                    .wipe-0 {
                        position: fixed;
                        width:0;
                        height: 100%;
                        top:0;
                        right: 0;
                        overflow: hidden;
                        animation: imageLeft .5s  linear normal;
                        animation-fill-mode:forwards;
                    }
                    .wipe-1{
                        position: fixed;
                        width: 55%;
                        height: 100%;
                        top:0;
                        right: 0;
                        overflow: hidden;
                        animation: hoverLeft .5s  linear normal;
                        animation-fill-mode:forwards;
                    }

                    &.music{
                        background: #a11d77;
                        .wipe-0{
                            background:url('#{$img-path}/hover/music.jpg');
                        }
                        .wipe-1{
                            background: #a11d77;
                        }
                    }
                    &.videos{
                        background: #313b72;
                        .wipe-0{
                            background:url('#{$img-path}/hover/videos.jpg');
                        }
                        .wipe-1{
                            background: #313b72;
                        }
                    }
                    &.radio-station{
                        background: #f9f200;
                        .wipe-0{
                            background:url('#{$img-path}/hover/radio.jpg');
                        }
                        .wipe-1{
                            background: #f9f200;
                        }
                    }
                    &.news{
                        background: #9ed2ce;
                        .wipe-0{
                            background:url('#{$img-path}/hover/gigs.jpg');
                        }
                        .wipe-1{
                            background: #9ed2ce;
                        }
                    }
                    &.bio{
                        background: #00a48d;
                        .wipe-0{
                            background:url('#{$img-path}/hover/bio.jpg');
                        }
                        .wipe-1{
                            background: #00a48d;
                        }
                    }
                    &.press{
                        background: #c885b1;
                        .wipe-0{
                            background:url('#{$img-path}/hover/press.jpg');
                        }
                        .wipe-1{
                            background: #c885b1;
                        }
                    }
                    &.photos{
                        background: #e1287a;
                        .wipe-0{
                            background:url('#{$img-path}/hover/photos.jpg');
                        }
                        .wipe-1{
                            background: #e1287a;
                        }
                    }
                    &.hello{
                        background: #3f147b;
                        .wipe-0{
                            background:url('#{$img-path}/hover/hello.jpg');
                        }
                        .wipe-1{
                            background: #3f147b;
                        }
                    }
                }
            }
        }
    }
}
