
.highlight-text {
    h1{
        span{
            color:#a11d77;
        }
    }
}

.page-contents{
    position: fixed;
    top:0;
    right:0;
    width: 60%;
    height: 100%;
    overflow-y: scroll;

    .list-container{
        padding: 25px;
        max-width: 930px;

        @media(min-width: 1024px) {
            padding-top:100px;
        }

        h2{
            text-transform: uppercase;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 5px;
            margin: 25px 0 50px 0;
            padding: 0;
        }

        .item{
            display: block;
            text-decoration: none;
            width: 50%;
            float: left;
            text-transform: uppercase;
            color:#111;
            padding: 20px 0;
            margin-bottom: 20px;
            @include animate(.25s);

            &:nth-child(odd) {
                padding-right: 20px;
            }

            &:nth-child(even) {
                padding-left: 20px;
            }

            .item-image{
                background: #000;

                img{
                    width: 100%;
                    height: auto;
                    @include animate(.25s);
                }
            }

            &:hover{
                img{
                    opacity: 0.7;
                }
            }

            h3{
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 1px;
            }

            .tracks-count,
            .release-date
            {
                font-family: wask, sans-serif;
                font-style: italic;
                color:#111;
                letter-spacing: 2px;
            }
        }
    }
}
