<div class="container-fluid page-container">
    <div class="hero-image bio spaced">

    </div>
    <div class="hero-page bio spaced">
        <div class="bio-page">
            <h1>Bio</h1>
            <div class="bio-text">
                <p>
                    Blinky Bill is a Kenyan Musician, Producer and DJ based in Nairobi. He is one of the founding members of Kenyan Art Collective Just A Band and an Alumnus of RBMA, he is also a TED Fellow.
                </p>
                <p>
                    He has performed at SXSW, Paleo festival, TEDGlobal in Rio and TEDSummit 2016 in Canada, RBMA Tokyo 2014, and played DJ sets in Johannesburg. His music is a mix of Futuristic African beats meets Hip Hop meets Electronica. He is currently in studio working on his first full length LP slated to be released in Early 2017 and has just released an EP in August 2016 titled ‘We Cut Keys While You Wait.’
                </p>
            </div>
            <a routerLink='/hello' class="bio-link">Talk to Me</a>
        </div>
    </div>
</div>
<app-animation></app-animation>
