@import "src/scss/index";
.news-page{
    padding: 100px 25px 25px;

    @media(min-width:1024px) {
        padding-top:150px;
    }

    .news-container{
        max-width: 1300px;

        h1{
            text-transform: uppercase;
            color:#000;
            font-family: wask, sans-serif;
            font-style: italic;
            font-weight: bold;
            font-size: 32px;
            margin: 0 0 30px;

            @media(min-width: 400px) {
                font-size: 42px;
            }

            @media(min-width: 700px) {
                font-size: 72px;
            }

            span{
                color:#b7b7b7;
            }
        }

    }
}
