<div class="container-fluid album-page">
    <div class="container-fluid album-view" *ngIf="radioService.episode.id">

        <div class="album-stage">
            <div class="iframe-box-container">
                <iframe width="500" height="500" frameborder="0" [src]="radioService.episode.embed_url"></iframe>
            </div>
            <div class="shares">
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                    <a href="#" target="_blank">Google</a>
                </div>
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">https://bit.ly/cjqtwqhyzy</a>
                </div>
            </div>
        </div>

        <div class="album-details">
            <h2>{{ radioService.episode.title }}</h2>
            <div class="tracks-count">({{ radioService.episode.tracks }} tracks) ({{radioService.episode.release_year}})</div>
            <div class="release-date">
                {{ radioService.episode.release_month }}<br />
                ({{ radioService.episode.release_year }})
            </div>
        </div>

    </div>
</div>
<app-animation [page]="'radio'"></app-animation>
