<div class="container-fluid album-page">
    <div class="container-fluid album-view">

        <div class="album-stage">
            <img src="/assets/images/radio/scenary.jpg"  />
            <div class="shares">
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                    <a href="#" target="_blank">Google</a>
                </div>
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">https://bit.ly/cjqtwqhyzy</a>
                </div>
            </div>
        </div>

        <div class="album-details">
            <h2>Scenery: Nairobi w/ blinky bill</h2>
            <div class="tracks-count">(6 tracks) (2017)</div>
            <div class="release-date">
                March<br />
                (2016)
            </div>

        </div>

    </div>
</div>
