<div class="container-fluid album-page">
    <div class="container-fluid album-view">

        <div class="album-stage">
            <img src="/assets/images/music/we-cut-keys-2.jpg"  />
            <div class="shares">
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">Facebook</a>
                    <a href="#" target="_blank">Twitter</a>
                    <a href="#" target="_blank">Google</a>
                </div>
                <div class="text-label">Share on</div>
                <div class="share-links">
                    <a href="#" target="_blank">https://bit.ly/cjqtwqhyzy</a>
                </div>
            </div>
        </div>

        <div class="album-details">
            <h2>we cut keys while you wait</h2>
            <div class="tracks-count">(6 tracks) (2017)</div>
            <div class="release-date">
                EP release date:<br />
                26 August 2016
            </div>

            <div class="shop-links">
                <a href="#" target="_blank"><span>Itunes</span></a>
                <a href="#" target="_blank"><span>Soundcloud</span></a>
                <a href="#" target="_blank"><span>Spotify</span></a>
            </div>
        </div>

    </div>
</div>
<app-animation [page]="'music'"></app-animation>
