@import "src/scss/mixins";
.highlight-text {
    h1{
        color:#3f147b;
    }

    .caption-text{
        position: relative;
        padding: 40px 0;
        text-transform: uppercase;
        font-size: 18px;
        font-style: italic;
        max-width: 230px;
        font-family: wask, gotham, sans-serif;
        line-height: 1.1em;
        opacity: 0;
        animation: showText .25s 1s  linear normal;
        animation-fill-mode:forwards;
    }
}

.hero-image{
    background: url('#{$img-path}/hello.jpg') center center no-repeat;
    background-size: cover;
}
