<div class="container-fluid page-container">
    <div class="hero-image spaced">

    </div>
    <div class="hero-page pull-left spaced">
        <div class="highlight-text">
            <h1>Say <br />Hello</h1>
            <div class="caption-text">
                looking forward to hear from you. lets chart on <strong>social media</strong> and I promise, i will definately respond.
            </div>
            <div class="share-buttons">
                <a href="https://www.facebook.com/mrblinkybill/" target="_blank"><i class="icon-facebook"></i></a>
                <a href="https://twitter.com/HeyHeyBlinky" target="_blank"><i class="icon-twitter"></i></a>
                <a href="https://www.instagram.com/heyheyblinkybill/" target="_blank"><i class="icon-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<app-animation [page]="'hello'"></app-animation>
