<div class="container-fluid video-page">
    <div class="video-player container-fluid">
        <div class="container-fluid page-video">
            <div class="container-fluid video-container">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/KTZCVgNQpmw?modestbranding=1&autoplay=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="video-info">
                <h2>I’m feelin’ it</h2>
                <div class="release-date">2016</div>
            </div>
        </div>

        <div class="container-fluid list-container related-videos">
            <a routerLink="/videos/1" class="item">
                <div class="item-image">
                    <img src="/assets/images/fellows.jpg" />
                </div>
                <h3>Everyone’s winging it &amp; other fly tales</h3>
                <div class="release-date">(2016)</div>
            </a>
            <a routerLink="/videos/1" class="item">
                <div class="item-image">
                    <img src="/assets/images/iko-nini.jpg" />
                </div>
                <h3>Everyone’s winging it &amp; other fly tales</h3>
                <div class="release-date">(2016)</div>
            </a>
        </div>
    </div>
</div>
<app-animation></app-animation>
