<div class="container-fluid page-container">
    <div class="hero-page page-intro">
        <div class="highlight-text">
            <h1>Blinky Bill <span>Music</span></h1>
        </div>
    </div>
    <div class="page-contents">
        <div class="container-fluid list-container">
            <h2>Albums &amp; EP's</h2>
            <div class="container-fluid list-view" *ngIf="musicService.response.results">
                <a routerLink="/music/{{ item.collectionId }}" class="item" *ngFor="let item of musicService.response.results | slice:1">
                    <div class="item-image">
                        <img [src]="musicService.formatFilename(item.artworkUrl100)" />
                    </div>
                    <h3>{{ item.collectionName }}</h3>
                    <div class="tracks-count">{{ item.trackCount }} Track<span *ngIf="item.trackCount > 1">s</span></div>
                    <div class="release-date">({{ item.releaseDate | date:'y' }})</div>
                </a>
            </div>
        </div>

        <div class="container-fluid singles-container">
            <app-tracks></app-tracks>
        </div>

    </div>
</div>
<app-animation [page]="'music'"></app-animation>
