<div class="container-fluid page-container">
    <div class="hero-page page-intro">
        <div class="highlight-text">
            <h1>Blinky Bill <span>Music</span></h1>
        </div>
    </div>
    <div class="page-contents">
        <div class="container-fluid list-container">
            <h2>Albums &amp; EP's</h2>
            <div class="container-fluid list-view">
                <a routerLink="/music/1" class="item">
                    <div class="item-image">
                        <img src="/assets/images/music/winging.jpg" />
                    </div>
                    <h3>Everyone’s winging it &amp; other fly tales</h3>
                    <div class="tracks-count">13 Tracks</div>
                    <div class="release-date">(2016)</div>
                </a>
                <a routerLink="/music/1" class="item">
                    <div class="item-image">
                        <img src="/assets/images/music/im-feeling-it.jpg" />
                    </div>
                    <h3>Everyone’s winging it &amp; other fly tales</h3>
                    <div class="tracks-count">13 Tracks</div>
                    <div class="release-date">(2016)</div>
                </a>
                <a routerLink="/music/1" class="item">
                    <div class="item-image">
                        <img src="/assets/images/music/we-cut-keys.jpg" />
                    </div>
                    <h3>Everyone’s winging it &amp; other fly tales</h3>
                    <div class="tracks-count">13 Tracks</div>
                    <div class="release-date">(2016)</div>
                </a>
                <a routerLink="/music/1" class="item">
                    <div class="item-image">
                        <img src="/assets/images/music/we-cut-keys-2.jpg" />
                    </div>
                    <h3>Everyone’s winging it &amp; other fly tales</h3>
                    <div class="tracks-count">13 Tracks</div>
                    <div class="release-date">(2016)</div>
                </a>
            </div>
        </div>
    </div>
</div>
<app-animation [page]="'music'"></app-animation>
