.highlight-text {
    h1{
        span{
            color:#a11d77;
        }
    }
}
.item-image{
    img{
        display: block;
        border:1px solid #d7d7d7;
    }
}
.singles-container{
    padding: 25px;
    max-width: 930px;

    @media(min-width: 400px) {
        padding: 15px;
    }

    @media(min-width: 600px) {
        padding: 10px;
    }
}
